/* 
 * This is not a selector, this is where we define a font!
 * FontLink: https://www.dafont.com/tengwar-annatar.font
 * 
*/
@font-face {
font-family: 'tngan';
src: url( '../fonts/tngan/tngan.ttf');

src: url( '../fonts/tngan/tngan.ttf')
  format( 'truetype' );
  font-weight: normal;    /* This is how bold the font is */
  font-style: normal;     /* This is whether italic, bold, UL */
}
/* 
 * RUBIK FONT
 * 
 * FontLink: https://www.fontsquirrel.com/fonts/rubik
*/

@font-face { /*Rubik Regular*/
  font-family: 'Rubik';
  src: url( '..fonts/rubik/Rubik-Regular.ttf');
  src: url( '..fonts/rubik/Rubik-Regular.ttf')
    format( 'truetype' );
font-weight: normal;
font-style: normal;
}

@font-face { /*Rubik Black*/
  font-family: 'Rubik';
  src: url( '..fonts/rubik/Rubik-Black.ttf');
  src: url( '..fonts/rubik/Rubik-Black.ttf')
    format( 'truetype' );
font-weight: bolder;
font-style: normal;

}

@font-face { /*Rubik Black Italic*/
  font-family: 'Rubik';
  src: url( '..fonts/rubik/Rubik-BlackItalic.ttf');
  src: url( '..fonts/rubik/Rubik-BlackItalic.ttf')
    format( 'truetype' );
font-weight: bolder;
font-style: italic;
}

@font-face { /*Rubik Medium*/
  font-family: 'Rubik';
  src: url( '..fonts/rubik/Rubik-Medium.ttf');
  src: url( '..fonts/rubik/Rubik-Medium.ttf')
    format( 'truetype' );
font-weight: bold;
font-style: italic;
}

@font-face { /*Rubik Light*/
  font-family: 'Rubik';
  src: url( '..fonts/rubik/Rubik-Light.ttf');
  src: url( '..fonts/rubik/Rubik-Light.ttf')
    format( 'truetype' );
font-weight: lighter;
font-style: normal;
}

  /* Text meant only for screen readers. 
 SourceLink: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/

*/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

/*
 *  Body Width.
 */

 body {
   max-width: 500px;
   /*
    * This next step auto-centers the text, can also be written as 'margin: 0 auto;' if you dont have top and bottom margins applied. 
   */
   max-width: 75%;
   margin-right: auto;
   margin-left: auto;
 }

  /*
   *  Headings
  */

  h1 {
    font-family: 'tngan', 'Courier New', Courier, monospace; 
  }

  /*
  Navigation Links

  Any anchor (a) inside of a nav
  */
  nav a {
    text-decoration: none; /* Removes underlines */
    color: rgb(0, 25, 199); 
    font-family: Heveltica, Arial, sans-serif;
  }



/*
"The 'Hover" state of any anchor (a) inside of a nav:
*/
nav a:hover {
    color: crimson;
}

/*
 * Page Content (Rubik Font Testing)
*/
.black-font {
  font-weight: bolder;
}

.light-font {
  font-weight: lighter;
}
h2, p {
font-family: 'Rubik', Arial, Helvetica, sans-serif;

}

p:nth-of-type(3) {
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Target the 3rd <p> inside an element*/
p:nth-of-type(3) img {
  display: block;
  width: auto;
  max-width: 80%; /* IF it's a smaller screen, the max width of the image = max width of the window */
  margin: 0 auto 1.5em; /*First value = top, 2nd is left and right, 3rd is bottom - 1.5em refers to the font size*/
 
  /*
 margin has a few different formats taht can be used to set values:
 - Margin: 0 auto 1.5em is the same as...
 margin-top: 0;
 margin-right auto;
 margin-bottom: 1.5em;
 margin-left: auto
 */

}

/*
  Media Query (used for setting break points)
  Mobile-first mindset means using "min-width rules"
  The styles inside are only applied for screens that are a minimum (this size or greater) than 400px
*/
@media screen and ( min-width: 800px ) {
  html {background-color: #aaaaaa;}

  @media screen and ( min-width: 1024px ) {
    html {background-color: purple;
    }
     
    @media screen and ( min-width: 1200px ) {
      html {background-color: #777777;}
        

}

/*
Direct Descentdant - the UL must be DIRECTLY inside the NAV for this style to take effect!
*/
  nav > ul {
    list-style-type: circle;
 }
